:root {
  //  ------ MAIN Colors ------
  //--white: #ffffff;
  //--v-primary: rgba(80, 15, 233, 1);
}
$font-family: ('Regular' 'Black' 'Bold' 'Medium' 'Light' 'UltarLight');
$font-size: (10 12 13 14 16 18 22 24 26 34 42);
$sides: ('start' 'end' 'top' 'bottom');
