// GLOBAL VARIABLES
$body-font-family: "IRANSansLight", sans-serif !default;
$font-size-root: 16px !default;
$line-height-root: 2 !default;

// BUTTON VARIABLES
$btn-border-radius: 8px;

// MENU VARIABLES
$menu-content-border-radius: 8px;
$menu-content-elevation: 20;

// TABS VARIABLES
$tabs-item-letter-spacing: normal;

// TOOLBAR VARIABLES
$toolbar-content-padding-x: 24px;

// DATA TABLE VARIABLES
$data-table-regular-row-height: 79px;
$data-table-regular-header-font-size: 14px;

// TEXT FIELD VARIABLES
$text-field-outlined-fieldset-border: 1px solid #0000002e;
$text-field-enclosed-prepend-append-margin-top: 20px;
$text-field-details-margin-bottom: 0px;
$text-field-filled-full-width-outlined-slot-min-height: 48px;
$text-field-border-radius: 8px;

// EXPANSION PANELS
$expansion-panel-border-radius: 12px;
$expansion-panel-header-min-height: 70px;

// CARD VARIABLES
$card-border-radius: 8px;

$grid-breakpoints: (
  "xs": 0,
  "sm": 600px,
  "md": 960px,
  "lg": 1366px,
  "xl": 1440px
);
