.v-breadcrumbs {
  li {
    margin-left: 8px;
  }
  &__item {
    color: var(--v-primary-base)!important;

  }

  &__item--disabled {
    color: var(--v-grayScale2-base) !important;
  }

  &__divider {
    i {
      color: var(--v-grayScale3-base)!important;
    }
    padding-inline: 2px!important;
  }
}
