.v-btn {
  font-family: IRANSansMedium, 'sans-serif';
  letter-spacing: normal !important;
  &:focus {
    border: none;
    outline: none;
  }
}

.vBtn-custom-padding {
  padding: 8px 28px !important;
}

.vBtn-custom-padding {
  padding: 8px 28px !important;
}
