.exchange-card {
  .text-field-detail {
    .v-input__slot {
      border: 1px solid rgba(232, 232, 232, 1);
    }
    .v-text-field__details {
      padding-right: 16px;
      margin-bottom: 0;
      .message-transition-enter-to {
        font-size: 11px;
      }
      .v-messages__message {
        font-size: 11px;
      }
    }
  }
}